<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title th:include=":: #pageTitle">Fragment</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../bootstrap/css/custom.css"/>
	<link rel="stylesheet" href="../bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>
	
	<link rel="stylesheet" href="../vendor/dataTables.min.css"/>
	<script src="../bootstrap/jquery-1.12.4.js" type="text/javascript"></script>
	<script src="../vendor/dataTables.min.js" type="text/javascript"></script>
	<script src="../bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
</head>

<body>
	<div th:fragment="header">
		 <nav class="site-header sticky-top py-1">
      		<div class="container d-flex flex-column flex-md-row justify-content-between">
        			<a class="py-2" href="#">
        			</a>
        			<a class="py-2 d-none d-md-inline-block" href="/">Home</a>
        			<a class="py-2 d-none d-md-inline-block" href="/mahasiswa/tambah">Tambah Mahasiswa</a>
        			<a class="py-2 d-none d-md-inline-block" href="/kelulusan">Kelulusan Mahasiswa</a>
        			<a class="py-2 d-none d-md-inline-block" href="/mahasiswa/cari">Cari Mahasiswa</a>
      </div>
    </nav>
	</div>
	
	<div th:fragment="footer">
		<hr/>
		<h4>Mata Kuliah APAP</h4>
	</div>
</body>
</html>